.first-section {
  display: grid;
  place-items: center;
  /* gap: 30px */
  /* margin-top: 50px; */
  margin-bottom: 120px;
}
#nothing-great {
  font-size: 66px;
  font-family: Arial, Helvetica, sans-serif;
  display: none;
  text-align: center;
  margin-bottom: 32px;
  margin-top: 64px;
}

.videoanimation {
  width: 790px;
  height: 285px;
}
.first-section p {
  font-size: 22px;
  margin-bottom: 40px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}
.try-figma-for-free {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: bolder;
  cursor: pointer;
  position: absolute;
  display: grid;
  place-items: center;
}
.figma-button-wrapper {
  z-index: 100;
  width: 202px;
  height: 48px;
  position: relative;
}
.figma-button-wrapper:hover > .try-figma-for-free {
  margin-top: -5px;
  transition: 0.3s;
}
@media screen and (max-width: 800px) {
  .videoanimation {
    display: none;
  }
  #nothing-great {
    display: block;
  }
  .first-section {
    font-size: 20px;
  }
}
@media screen and (max-width: 550px) {
  .videoanimation {
    display: none;
  }
  #nothing-great {
    display: block;
    font-size: 44px;
  }
  .figma-button-wrapper {
    width: 185px;
  }
  .try-figma-for-free {
    font-size: 16px;
  }
}
.image-container img {
  object-fit: cover;
}
.image-container {
  /* background: url(./animation/picture.webp); */
  /* background-size: contain; */
  /* background-repeat: no-repeat; */
  /* height: 581px; */

  /* display: grid; */
  width: 100%;
  justify-content: end;
  justify-items: center;
  grid-template-rows: auto;
  position: relative;
  /* overflow-x: hidden; */
  /* position: relative; */
  /* overflow: hidden; */
}
.image-wrapper {
  display: grid;
  position: relative;
  margin: 0px auto;
  width: 1440px;
  /* overflow-x: hidden; */
  /* overflow: hidden; */
}
#video1 {
  width: 590px;
  height: 737px;
  position: absolute;
  margin-top: -166px;
  margin-left: 592px;
  /* //592px */
}
#imagee {
  height: 581px;
  margin-left: -651px;
  margin-right: 96px;
}
@media screen and (max-width: 1440px) {
  .image-container {
    height: 43vw;
    margin: 0px;
    /* overflow-x: hidden; */
  }
  .image-wrapper {
    height: 100%;
    margin: 0px;
    position: relative;
    /* overflow-x: hidden; */
  }
  #imagee {
    height: 43vw;
    margin-left: -40vw;
  }
  #video1 {
    /* margin-bottom: 300px; */
    position: absolute;
    /* height: 97%; */
    height: auto;
    width: 44vw;
    margin-top: -12.7vw;
    /* padding-bottom: 0.7%; */
    margin-left: 51.6vw;
    /* margin-left: 50.8%; */
    /* margin-top: 0; */
  }
}
@media screen and (max-width: 670px) {
  .first-section {
    margin-bottom: 60px;
  }
  .image-container {
    height: 45vw;
    margin: 0px;
    /* overflow-x: hidden; */
  }
  .image-container::-webkit-scrollbar,
  .image-wrapper::-webkit-scrollbar {
    display: none;
  }
  .image-wrapper {
    height: 100%;
    margin: 0px;
    position: relative;
    /* overflow-x: hidden; */
  }
  #imagee {
    height: 45vw;
    margin-left: -48vw;
  }
  #video1 {
    margin-top: -10.8vw;
    margin-left: 50vw;
  }
}
.whatever {
  height: 500px;
  width: 100%;
}
.other-industires {
  /* position: relative; */
  width: 100%;
  height: 228px;
  /* width: 1260px; */
  padding: 48px 32px;
  /* display: grid; */
  /* justify-content: center; */
  /* margin: 0 auto; */
}
.other-industires__inner {
  /* position: absolute; */
  word-break: break-word;
  margin: 0 auto;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: minmax(auto, 420px) 1fr auto;
  place-items: center;
  gap: 90px;
  width: 1260px;
  height: 100%;
  border: 2px solid black;
  border-radius: 20px;
  background-color: white;
  padding: 32px 40px;
}
.other-industires__inner p {
  position: relative;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.5px;
}
.org-logos-section {
  display: grid;
  grid-auto-flow: column;
  /* grid-template-columns: 64px 64px 64px 64px 64px; */
  /* grid-template-rows: 64px; */
  gap: 50px;
  place-items: center;
}
.org-logos {
  height: 64px;
}
.more-right-arrow {
  border: 2px solid black;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  padding: 0px;
  outline: none;
  text-decoration: none;
  display: grid;
  place-items: center;
  color: black;
}
.little-arrow {
  display: none;
}
.more-right-arrow:hover {
  background-color: black;
  color: white;
  transition: 0.3s;
}
@media screen and (max-width: 1339px) {
  .other-industires {
    display: grid;
    grid-template-columns: 1fr;
  }
  .other-industires__inner {
    width: 100%;
  }
}
@media screen and (max-width: 1253px) {
  .other-industires {
    height: 239px;
  }
  .other-industires__inner {
    height: 143.6px;
  }
}
@media screen and (max-width: 1160px) {
  .less-important-logos {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .other-industires__inner {
    padding: 24px;
    gap: 30px;
  }
}
@media screen and (max-width: 800px) {
  .other-industires {
    height: 193px;
  }
  .other-industires__inner {
    height: 97px !important;
    grid-template-rows: 100%;
  }
  .other-industires__inner p {
    font-size: 14.2px;
  }
  .org-logos {
    width: 45px;
  }
}
@media screen and (max-width: 700px) {
  .other-industires {
    height: 215px;
  }
  .other-industires__inner {
    height: 100% !important;
  }
}
@media screen and (max-width: 670px) {
  .more-right-arrow {
    display: none;
  }
  .other-industires {
    height: 253px;
    grid-template-rows: 100%;
  }
  .other-industires__inner {
    gap: 0px;
    align-content: space-between;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
    place-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .other-industires__inner p {
    text-align: center;
    font-size: 15px;
  }
  .less-important-logos {
    display: inline;
  }
  .little-arrow {
    display: inline;
    font-weight: bolder;
  }
}
@media screen and (max-width: 558px) {
  .other-industires {
    height: auto;
    width: 100vw;
    padding-right: 44px;
  }
  .other-industires__inner {
    height: 100%;
    width: 100%;
    grid-template-rows: 1fr auto;
    gap: 10px;
  }
  .org-logos-section {
    grid-template-columns: repeat(5, 1fr);
    gap: 5vw;
  }
  .org-logos {
    max-width: 45px;
    max-height: 45px;
    height: 100%;
    width: 100%;
  }
}
