.community {
  /* margin-top: 80px; */
  padding: 104px 60px;
  display: grid;
  justify-items: center;
  place-items: center;
  /* text-align: center; */
  background-color: black;
}
.community-animation {
  overflow-x: hidden;
  height: 4.35vw;
  min-height: 45px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 100% 100%;
  gap: 25px;
  grid-template-rows: 100%;
  /* justify-content: space-between; */
  /* gap: 13px; */
  padding: 10px 0px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-top: 80px;
  width: auto;
  background-color: #ffc700;
}

.community-animation1 {
  height: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.6vw;
  font-weight: bolder;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr auto 1fr auto 1fr auto 1fr auto 1fr;
  gap: 25px;
  /* justify-content: space-between; */
  grid-template-rows: 100%;
  place-items: center;
  /* gap: 13px; */
  animation-name: community-animation;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  animation-timing-function: linear;
}

.community-animation1 * {
  height: 100%;
  width: 100%;
  /* width: 50px; */
}
@keyframes community-animation {
  0% {
    transform: translate(0px, 0vw);
    /* margin-left: 100%; */
    /* width: 300%; */
  }

  100% {
    transform: translate(-100vw, 0vw);
    /* margin-left: 0%; */
    /* width: 100%; */
  }
}
@media screen and (max-width: 1400px) {
  .community-animation {
    min-height: 65px;
    gap: 137px;
  }
  .community-animation1 {
    font-size: 36px;
    /* gap: 5px; */
  }
  .community-animation1 svg {
    width: 45px;
    height: 45px;
    margin: 0px 20px;
  }
}

.community-top {
  text-align: center;
  width: 735px;
  color: white;
}
.community-top h2 {
  font-size: 36px;
  font-family: Arial, Helvetica, sans-serif;
}
.community-top p {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 22px 0px;
}
.community h3 {
  color: rgb(255, 199, 0);
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}
.div-text {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: white;
}
.mid-first-row {
  margin: 80px auto;
  width: 1160px;
  height: 329px;
}
.community-images-container {
  margin-top: 16px;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 24px;
}
.community-images-container a {
  font-size: 14px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff99;
}
.big-picture {
  width: 370px;
  height: 231px;
  border-radius: 10px;
}
.info-container {
  margin-top: 8px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}
.info-container a {
  text-decoration: none;
}
.small-profile-pictures {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.profile-container {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}
.this-week {
  width: 1160px;
  height: 167px;
  margin: 0px auto;
}
.this-week__images {
  display: grid;
  grid-auto-flow: column;
  gap: 24px;
  margin-top: 15px;
}
.this-week__images a {
  border-radius: 10px;
  text-decoration: none;
  padding: 16px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
  align-items: center;
  outline: none;
}
.this-week__images a:hover {
  transition: 0.1s;
  background-color: #78737382;
  outline: 0.5px rgba(128, 128, 128, 0.63) solid;
}
.this-week h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: white;
}
.this-week span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #ffffff99;
}
.this-week-images {
  height: 56px;
  margin-right: 16px;
  border-radius: 17px;
}
.community-button-container {
  width: 100%;
  text-align: center;
}
.community-button-container button {
  padding: 14px 24px;
  background-color: white;
  color: black;
  border-radius: 10px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bolder;
}
.community-button-container:hover > button {
  transform: translate(0px, -3px);
  transition: 0.3s;
}
.figma-account {
  padding: 144px 0px 80px;
  width: 100%;
}

.figma-account h2 {
  color: #282828;
  width: 336px;
  text-align: center;
  margin: 0 auto;
  font-family: roboto;
  font-size: 35px;
}
.account-info-wrapper {
  width: auto;
  margin: 0 auto;
  text-align: center;
}
.account-info-wrapper form {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 336px;
  justify-content: center;
  gap: 15px;
}
form input {
  height: 50px;
  width: 100%;
  padding: 8px;
  border: 3px solid black;
  border-radius: 5px;
  font-family: arial;
  font-size: 15px;
}
form * {
  width: 100%;
}
form button {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
  height: 48px;
  border: 3px solid black;
  border-radius: 8px;
  background-color: white;
  font-family: roboto;
  font-size: 16px;
  cursor: pointer;
}
.figma-account-button-wrapper {
  position: relative;
  width: 100%;
  height: fit-content;
}
.figma-account-button-wrapper:hover > button {
  /* position: absolute; */
  /* translate: 3px; */
  transform: translate(0px, -3px);
  transition: 0.3s;
}

form span {
  font-family: "Arial Narrow", Arial, sans-serif;
  color: gray;
  font-size: 14px;
}
form a {
  text-decoration: none;
  color: #5551ff;
  font-family: "Arial Narrow", Arial, sans-serif;
  font-size: 14px;
  cursor: pointer;
}
.less-important span,
.less-important a {
  line-height: 20px;
  font-size: 12px;
}
form a:hover {
  text-decoration: underline;
}
form p {
  margin: 15px 0px;
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
}

.create-account-button {
  background-color: black;
  color: white;
  font-size: 18px;
}
@media screen and (max-width: 410px) {
  .account-info-wrapper form {
    padding: 0px 32px;
    width: 100%;
    grid-template-columns: 100%;
  }
  .figma-account {
    padding: 64px 0px 32px;
  }
  .figma-account h2 {
    width: 100%;
  }
}
