* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.header {
  height: 105px;
  padding: 24px 48px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}
.logo-wrapper {
  width: 38px;
  height: 57px;
  cursor: pointer;
}
.header-option-wrapper {
  height: 100%;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}
.header-items {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  padding: 8px 16px;
  gap: 9px;
  cursor: pointer;
}
.header-items button {
  font-size: 17;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  background-color: white;
  border: none;
  cursor: pointer;
}
.header__sign-up button {
  padding: 15px 23px;
  background-color: black;
  color: white;
  border-radius: 12px;
  font-family: sans-serif;
  margin-left: 8px;
}
.button-with-underline {
  /* display: flex; */
  position: relative;
  align-items: end;
  /* gap: 10px; */
  /* overflow: hidden; */
}
.button-with-underline:after {
  content: "";
  display: block;
  height: 0px;
  width: 100%;
  background-color: black;
  position: absolute;
  margin-top: 1px;
}
.button-with-underline:hover:after {
  transition: 100s;
  animation: button-with-underline-effect 0.1s;
  height: 4px;
}
@keyframes button-with-underline-effect {
  0% {
    height: 0px;
  }
  100% {
    height: 4px;
  }
}

.header__sign-up {
  padding: 0px;
  position: relative;
  width: 116px;
  height: 85%;
}
.sign-up-button {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
}
.header__sign-up:hover > .sign-up-button {
  margin-bottom: 8px;
  transition: 0.3s;
}
.small-header {
  display: none;
  grid-auto-flow: column;
  width: 100%;
  height: 96px;
  justify-content: space-between;
  padding: 24px 32px;
  align-items: center;
}
@media screen and (max-width: 1250px) {
  .header {
    display: none;
  }
  .small-header {
    display: grid;
  }
  .header-option-wrapper {
    /* gap: 10px; */
    justify-items: end;
  }

  .header-items {
    justify-items: end;
    padding-right: 0px;
  }
  .header__sign-up {
    height: 48px;
  }
  .sign-up-button {
    padding: 15px 23px;
    margin: 0px;
  }
  .logo-wrapper {
    width: 32px;
    height: 48px;
    cursor: pointer;
  }
}
